# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.cache

*.obj
*.bin

.idea/
.vs/
x64/
JoyEngine/x64
JoyData/
Libs/
MitsubaXmlParser/data
JoyAssetBuilder/x64
JoyAssetBuilder/JoyShaderBuilderLib/x64
JoyAssetBuilder/JoyShaderBuilderConsole
JoyAssetBuilder/JoyAssetBuilder/obj